trunk/conf/zia_conf.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT zia (network, server, intern)>
<!ELEMENT network (port, address+)>
  <!ELEMENT port (#PCDATA)>
  <!ELEMENT address (#PCDATA)>
<!ELEMENT server (name, root, cgi)>
  <!ELEMENT name (#PCDATA)>
  <!ELEMENT root (#PCDATA)>
  <!ELEMENT cgi (#PCDATA)>
<!ELEMENT intern (workers, thresold, wait)>
  <!ELEMENT workers (#PCDATA)>
  <!ELEMENT thresold (#PCDATA)>
  <!ELEMENT wait (#PCDATA)>
